.center {
  margin-left: 550px;
  width: 300px;
  height: 400px;
  padding-left: 50px;
  padding-top: 50px;
}

input.auth, select{
    width:200px;
}
body {
  background: -webkit-linear-gradient(left, rgba(28, 51, 255, 0.548) 0%, rgba(0, 255, 21, 0.589) 100%);
  height:1000px;
}
