<body>
  <h1 class="header">Регистрация</h1>
  <div class="cd-user-modal">
    <div class="cd-user-modal-container">
      <div id="cd-signup">
        <form class="cd-form">

          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">Имя</label>
            <input class="full-width has-padding has-border" id="signup-email" type="email" name="name" placeholder="Имя" [(ngModel)]="newUser.name">
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Фамилия</label>
            <input class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Фамилия"  name="surname" [(ngModel)]="newUser.surname">
          </p>

          <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">E-mail</label>
            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail" name="email" [(ngModel)]="newUser.email">
          </p>

          <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Password</label>
            <input class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Пароль" [(ngModel)]="newUser.password" name="password">
          </p>


          <!--<p class="fieldset">
            <input id="send" class="full-width has-padding" type="submit" value="Создать аккаунт" (click)="Submit(newUser)">
          </p>-->
        </form>
      </div>
    </div>
  </div>
</body>
