<body>
  <table>
    <thead>
      <tr>
        <th>Название запроса</th>
        <th>Статус</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proposal of proposals;let i=index">
        <td>{{proposal["name"]}}</td>
        <td>{{proposal["status"]}}</td>        
        <td><button class="btn btn-primary button-margin" *ngIf="IsDraft(i)" (click)="Delete(proposal.id)">Удалить</button><button class="btn btn-primary button-margin" *ngIf="IsDraft(i)" (click)="Edit(proposal.id)">Редактировать</button></td>
      </tr>
    </tbody>
  </table>
</body>
