<body>
  <table>
    <thead>
      <tr>
        <th>Название шаблона</th>
        <th>Изначальная сумма</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let BT of BTs;let i=index">
        <td>{{BT["name"]}}</td>
        <td>{{BT["amount"]}}</td>
        <td><button class="btn btn-primary button-margin" (click)="Delete(BT.id)">Удалить</button><button class="btn btn-primary button-margin" (click)="Edit(BT.id)">Редактировать</button></td>
      </tr>
    </tbody>
  </table>
</body>
