<!--<div class="center">
  <div class="form-group">
    <p><label>Email</label></p>
    <input class="form-control auth" name="username" [(ngModel)]="user.login" />
  </div>
  <div class="form-group">
    <p><label>Password</label></p>
    <input class="form-control auth" name="age" [(ngModel)]="user.password" />
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="submit(user)">Отправить</button>
  </div>
</div>-->



<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>22 лучших формы входа и регистрации | Vladmaxi.net</title>
</head>

<body style="background:url(assets/фон/вход.jpg) no-repeat center center fixed;height:800px;">

  
  <div class="vladmaxi-top">
    <span class="right">
      <a routerLink="/MainForAllUsers/Tours">
        <strong>Вернуться на главную</strong>
      </a>
    </span>
  </div>
  

  <div id="login-form">
    <h1>АВТОРИЗАЦИЯ</h1>
    <fieldset>
      <div class="center">
        <p><label>{{warn}}</label></p>
        <div class="form-group">
          <p><label>Email</label></p>
          <input class="form-control auth" name="username" [(ngModel)]="user.login" />
        </div>
        <div class="form-group">
          <p><label>Password</label></p>
          <input class="form-control auth" name="age" [(ngModel)]="user.password" />
        </div>
        <!--<div class="form-group">
          <button type="button" class="btn btn-primary" (click)="submit(user)">Отправить</button>
        </div>-->
      </div>
    </fieldset>
  </div>
</body>
</html>
